<p>Łączna ilość sztuk: {{totalQuantity}}</p>
<p>Wartość produktów netto: {{netTotalValue}}</p>
<button type="button" class="btn btn-primary" (click)="emitShowGrossValue()">Pokaż wartość brutto</button>
<p *ngIf="showGrossTotalValue">Wartość produktów brutto: {{grossTotalValue}}</p>
