<div class="container">
  <div class="row">
    <div class="col-8">
      <table class="custom-table table table-striped" *ngIf="products.length > 0; else emptyTable">
        <thead>
          <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Cena</th>
            <th>Ilość</th>
            <th>Lokalizacja</th>
            <th>Min ilość</th>
            <th>Indeks</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; let i = index" [ngClass]="{'warning': product.quantity < product.minNumber}">
            <td>{{product.mark}}</td>
            <td>{{product.model}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.localization}}</td>
            <td>{{product.minNumber}}</td>
            <td>{{i}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4 card custom-card">
      <app-summary [netTotalValue]="countNetTotalValue()" [totalQuantity]="countTotalQuantity()" (showGrossValue)="countGrossTotalValue($event)"></app-summary>
    </div>
  </div>
</div>

<ng-template #emptyTable>
  <p>Brak produktów w magazynie</p>
</ng-template>
